VITE_COMETH_API_KEY=
VITE_PIMLICO_API_KEY=
VITE_BASE_URL=

VITE_MIXPANEL_TOKEN=
VITE_MIXPANEL_API_HOST=https://api-eu.mixpanel.com
VITE_MIXPANEL_DEBUG=true
VITE_APP_ENV=dev
VITE_ANALYTICS_ENABLED=false
